---
title: Y.J.LEE
---
{% include showcase.html %}
{% include greeting.html %}
</div>
{% if site.posts != empty %}
<div class="recent-posts">
  <div class="col-md-12">
    <div class="col-md-6"><h2>Recent Posts<h2></div>
    <div class="col-md-6"><a href="{{ site.baseurl }}/list.html" class="pull-right">More</a></div>
  </div>
  <div class="col-md-12">
  {% for post in site.posts limit: 3 %}
    {% if forloop.first %}
      {% assign add_class = 'most-recent' %}
      {% capture fresh_tag %}
        &nbsp;<span class="badge"><smaller>FRESH</smaller></span>
      {% endcapture %}
    {% endif %}
    <ul class="homepage-posts {{ add_class }}">
      <li>
        <span>
          <h4>
            <a href="{{ site.baseurl }}/{{ post.url }}">
              {{ post.title }}
            </a>
            {{ fresh_tag }}
            <time class="small pull-right">
              {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
            </time>
          </h4>
        </span>
      </li>
    </ul>
    {% assign add_class = '' %}
    {% assign fresh_tag = '' %}
  {% endfor %}
  </div>
</div>
{% endif %}
